@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #D1E0F3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  font-style: normal;
}

.noto-serif-sc {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Yu-Mincho-Pr6n {
  font-family: yu-mincho-pr6n, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.Source-Han-Serif{
  font-family: source-han-serif-tw-subset, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: 'ChenYuluoyan';
  src: url(/ChenYuluoyan-Thin.ttf);
}
.ChenYuluoyan {
  font-family: 'ChenYuluoyan', sans-serif;
  font-style: normal;
  font-weight: 500;
}
.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}